@model NewProject.Models.Employee
@{
    Layout = null;
}

<div class="card">
    <div class="card-header" id="SalaryDetailByYearCardHeader">Salary Detail : @Model.name - @Model.salaryByYear[0].year</div>
    <div class="card-body" id="SalaryDetailByYearCardBody">
        <div class="salaryDetailContainer">
            <div class="row justify-content-around">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">January</div>
                        <div class="card-body text-center">
                            @{int prnt = 0; }
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 1)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">February</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 2)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">March</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 3)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">April</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 4)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="row justify-content-around">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">May</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 5)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">June</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 6)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">July</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 7)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">August</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 8)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

            </div>

            <div class="row justify-content-around">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">September</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 9)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">October</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 10)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">November</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 11)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">December</div>
                        <div class="card-body text-center">
                            @foreach (var item in Model.salaryByYear)
                            {
                                if (item.month == 12)
                                {
                                    prnt++;
                                    <h5>@item.salary</h5>
                                }
                            }
                            @if (prnt == 0)
                            {
                                <h5>0</h5>
                            }
                            else
                            {
                                prnt = 0;
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

    </div>
</div>
